.section {
    background-color: #3E3E3E;
}

.navbar {
    background-color: #3E3E3E;
    position: sticky;
    top: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-align {
    display: flex;
    align-items: center;
}

.nav-link {
    color: lightgray;
}

.nav-link:hover {
    color: white;
    transition: 400ms;
}

.logo {
    font-size: 20px;
    color: white;
}

.index-image {
    width: 100%;
    height: 700px;
}

.background {
    background-color: lightgray;
    height: 500px;
}

.greeting  {
    padding: 20px;
    text-align: center;
    background-color: #3E3E3E;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.intro-text {
    padding: 10px;
}

.browse-button {
    float: right;
    padding: 20px;
}

.browse-button button {
    background-color: #3E3E3E;
    color: white;
    padding: 20px;
    border-color: black;
    text-transform: uppercase;
}

.browse-button button:hover {
    cursor: pointer;

}

.card {
    padding: 0;
    background-color: lightgray;
}

.card p, .centered{
    text-transform: capitalize;
}

.card-title, .card-text {
    margin-bottom: 0;
}

.btn {
    background-color: #3E3E3E;
    border-color: white;
}

.btn:hover {
    background-color: white;
    color: #3E3E3E;
    border-color: #3E3E3E;
}

.btn:hover {
    background-color: white!important;
    border-color: #3E3E3E;
    color: #3E3E3E!important;
}

.btn:focus:active {
    box-shadow: none!important;
    background-color: white!important;
    color: #3E3E3E!important;
}

.centered {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.whitespace {
    height: 829px!important;
}

.login {
    width: 75%;
}